/.ionide
test.ps
Project1/drawing_trees_translation.fs
Project1/.ionide/
Project1/customFact.ps
Project1/customFactorial.ps
Project1/customFibonacciNumbers.ps
Project1/customSieveOfEratosthenes.ps

Project3/.ionide/
Project3/DialogueProgram.fsx
Project3/DialogueProgramMono.fsx
Project3/personalSettings.fsx


